* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --active: #b10365;
  --background: #fff;
  --body-bg: #faafbe;
  --box-bg: #fff;
  --box-border-color: #fff;
  --txt-color: #fff;
  --txt-second-color: #111111;
  --btn-bg: #d87093;
  --btn-color: #fff;
  --btn-border-color: #fff;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active {
  background-color: var(--box-bg);
  color: var(--active) !important;
}
